@media (min-width: 1250px) {
    .PP {
        display: flex;
        justify-content: space-between;
        width: auto;
        flex-wrap: wrap;
    }

    .align {
        display: column;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .preview {
        width: 350px;
        height: 250px;
    }

    .under {
        display: column;
    }

    .form-control {


        font-family: 'Roboto';
        font-style: normal;
        width: 50%;
        padding: 0.6rem 0.8rem;
        margin-top: 0.7rem;
        margin-bottom: 2rem;

        background-color: transparent;
        transition: transform 250ms ease-in-out;

        color: #575756;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 100% center;
        border-radius: 50px;
        border: 1px solid #575756;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;
    }
}

@media (max-width: 1250px) {
    .align {
        display: column;
        margin-left: 0.9rem;
        margin-right: 0.9rem;
    }

    .preview {
        width: 350px;
        height: 250px;
    }

    .under {
        display: column;
    }

    .form-control {


        font-family: 'Roboto';
        font-style: normal;
        width: 50%;
        padding: 0.6rem 0.8rem;
        margin-top: 0.7rem;
        margin-bottom: 2rem;

        background-color: transparent;
        transition: transform 250ms ease-in-out;

        color: #575756;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 100% center;
        border-radius: 50px;
        border: 1px solid #575756;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;
    }
}